body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     /* background-color: #23242a; */
     background-color: rgb(248, 81, 25);

}
h2{
    color: orangered;
    text-align: center;
    text-decoration: underline 5px;
}
.box form{

    inset: 4px;
     background:  rgb(249, 252, 249);

    padding: 50px 40px;
    border-radius: 8px;

}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}


button[type="submit"] {
    background-color: green;
    /* color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
     */
     display: inline-block;
     padding: 10px 20px;
   width: 200px;
     border: 2px solid #ccc;
     border-radius: 5px;
     color: #333;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     justify-content: center;
     text-align: ;
}

button[type="submit"]:hover {
    background-color: orangered;
}

/* Style pour les liens dans le formulaire */
a {
    color: #007bff;
    text-decoration: none;
}

/* Animation de survol pour les liens */
a:hover {
    text-decoration: underline;
}
