
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     /* background-color: #23242a; */
     background-color: rgb(240, 61, 12);

}
.box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;


    inset: 4px;
     background:  rgb(249, 252, 249);

    padding: 50px 40px;
    border-radius: 8px;

}
   

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;

    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}





.button-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button-section button:hover {
    background-color: #FF5722; /* Changement de couleur au survol */
}
h2{
color: green;
}
